{
    "app": {
        "name": "CONVOCATORIAS",
        "copyright": "Convocatorias",
        "theme": "default"
    },
    "url": { 
        "API_AUTHENTICATION": "",
        "API_CONVOCATORIA": "",
        "API_UNUJOBS": ""
    }
}